*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Stencil", sans-serif;
}

body{
    background-color: lightblue !important;
    margin: 0 auto;
    padding: 0 80px;
    width: 100%;
    max-width: 1300px;
}

.img-container{
    gap: 10px;
    margin-top: 20px;
}

.img-container input{
    text-decoration: none;
    outline: none;
    border: none;
    width: 90%;
    max-width: 500px;
    height: 60px;
    padding-left: 20px;
    border-radius: 15px;
}

.img-container button{
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 5px !important;
}

#showMore-btn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px !important;
}